.dropdown-menu.show {
    background-color: var(--bg-primary);
  }
  .dropdown-menu span {
    cursor: pointer;
  }
  .dropdown-item:focus{
    background-color: var(--bg-primary) !important;

  }
 .dropdown-menu .dropdown-item:hover {
    color:black;
}

  