.favorites h2 {
  font-size: 1.3rem;
}
.card {
  background-color: var(--bg-primary);
}
.favorite-countries {
  height: calc(100vh - 19rem);
  max-height: calc(100vh - 19rem);
  overflow-y: auto;
}
img {
  width: 2.8rem;
  height: 1.5rem;
  object-fit: cover;
  border-radius: 0.25rem;
}
.favorite-country-name {
  font-size: 0.9rem;
  font-weight: 600;
}
.close-icon {
  font-size: 1.2rem;
  stroke-width: 1;
  background-color: rgb(238, 230, 230);
  color: black;
  padding: 0.3rem;
  border-radius: 50%;
  transition: 0.5s;
}
.close-icon:hover {
  cursor: pointer;
  background-color: rgb(155, 152, 152);
}
.favorite-countries::-webkit-scrollbar {
  width: 0.55rem;
}
.favorite-countries::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
  border-right: 1px solid rgb(216, 208, 208);
  border-left: 1px solid rgb(216, 208, 208);
}
.favorite-countries::-webkit-scrollbar-thumb {
  background-color: #d1c9c9;
  border-radius: 5px;
}
@media (max-width: 650px) {
  .favorites {
    display: none;
  }
}
