:root {
  --white: #ffffff;
  --very-light-gray: #fafafa;
  --very-dark-black: #111517;
  --dark-gray: #858585;
  --bg-primary: var(--white);
  --bg-secondary: var(--very-light-gray);
  --bs-body-color: var(--very-dark-black);
  --bs-body-font-family: "Nunito Sans";
  --bs-body-bg:var(--bg-secondary) !important;
  --bs-btn-active-border-color: transparent;
  --bs-border-radius: 7px;
  --form-control-color: var(--dark-gray);
}
.dark {

  --bg-primary: #2b3945;
  --bs-body-color: var(--white);
  --form-control-color: var(--white);
  --bs-body-bg: #202c37;

}
