body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --large-padding: 75px;
  --small-padding: 50px;
  --white: #ffffff;
  --very-light-gray: #fafafa;
  --very-dark-black: #111517;
  --dark-gray: #858585;
  --bg-primary: var(--white);
  --bg-secondary: var(--very-light-gray);
  --bs-body-color: var(--very-dark-black);
  --bs-body-font-family: "Nunito Sans";
  --bs-card-border-color: rgb(0, 0, 0, 0.63);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.155);
  --bs-btn-active-border-color: transparent;
  --bs-border-radius: 7px;
  --form-control-color: var(--dark-gray);
}
.dark {
  --bg-primary: #2b3945;
  --bs-body-color: var(--white);
  --bg-secondary: #202c37;
  --form-control-color: var(--white);
}